#draggable-bot {
    font-family: 'Segoe UI', 'Helvetica Neue', Tahoma, Verdana, sans-serif;
    overflow-wrap: break-word;
    word-break: break-word;
}

#chatbot-header {
    overflow: hidden;
    cursor: move;
    padding-bottom: 10px;
    right: 0;
    left: 0;
    border-bottom: 2px solid #ccc;
    display: grid;
    grid-template-columns: 30px 90%;
    align-items: center;
    z-index: 100;
}

    #chatbot-header img {
        width: 100%;
    }

    #chatbot-header #title {
        text-align: center;
        margin: 0;
    }

#bot {
    overflow: hidden;
    position: absolute;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    resize: horizontal;
    min-width: 250px;
}

.txt {
    margin: 0;
}

.chat-field {
    float: left;
    max-width: 75%;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    clear: both;
    cursor: default;
}

.right {
    float: right;
}

.left {
    float: left;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/*.chat-field img {
    float: left;
    max-width: 45px;
    width: 100%;
    margin-right: 20px;
    background-color: white;
    border-radius: 15%;
}*/

.time {
    color: #aaa;
    font-size: 0.7em;
}

#chat-container {
    position: relative;
    overflow-y: scroll;
    height: 350px;
}

/*begin: hide inner scrollbar*/
#chat-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

    #chat-container::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
/*end: hide inner scrollbar*/

#chatbot-footer {
    position: relative;
    padding-top: 10px;
    background-color: white;
    right: 0;
    left: 0;
    border-top: 2px solid #ccc;
    overflow: auto;
}

#inputField {
    float: left;
    border: 1px solid #ccc;
    width: calc(100% - 50px);
    padding: 2.5px;
}

#submit {
    float: right;
    cursor: pointer;
}


/*format adaptive cards*/
.ac-actionSet {
    flex-wrap: wrap !important;
}

.ac-container, .ac-adaptiveCard {
    background-color: transparent !important;
    padding: 0 !important;
}

.ac-horizontal-separator {
    height: 10px !important;
}

button div {
    white-space: initial !important;
    text-overflow: initial !important;
}

#collapsebtn {
    cursor: pointer;
    padding: 2px;
    margin: 0 auto;
    width: auto;
    outline: none;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    border: none;
}

    #collapsebtn:hover {
        filter: opacity(60%);
    }

#opencloseimg {
    cursor: pointer;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#help {
    margin: 2px;
    padding: 2px;
}

#chatCtrl {
    margin-top: 5px;
    text-align: center;
}